@charset "UTF-8";

/*———————————–———————————–
  Overwrite Bootstrap
———————————–———————————–*/




/*———————————–———————————–
  Styles
———————————–———————————–*/

.main-padding {
  padding-top: 100px;
}
main {
  padding-bottom: 100px;
}
ul {
  padding: 0;
  list-style: none;
}
code {
  padding: 0;
  background-color: transparent;
  color: #C4445B;
}
h3 {
  font-size: 25px;
  font-weight: 700;
}
.space-lg {
  margin-top: 35px;
}
.space-md {
  margin-top: 25px;
}
.space-sm {
  margin-top: 15px;
}

.lead {
  font-size: 20px;
}
.table code {
  color: #555;
  font-size: 75%;
}
.table code strong {
  color: #C4445B;
}
